[class*="span"] {
margin-bottom : 20px;
margin-top: 20px;

}

#formulaire {
   background-color:#CCC;
   padding: 10px;
}

body
{
	
}

#contact-img
{
	margin-top: 60px;
}

#conteneur
{
	background-color:#ffffff;
}

#apropos
{
	text-indent:25px;
	text-align:justify;
}

#header
{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
}