{# src/Musee/BlogBundle/Resources/views/Article/ajouterCommentaire.html.twig #}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="offset2 span8">
			<form method="post" class ="well" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
				<input type="submit" class="btn btn-primary"/>
			</form>
		</div>
	</div>
</div>