{# src/Musee/SiteBundle/Resources/views/Site/contact.html.twig #}

{% extends "MuseeSiteBundle::layout.html.twig" %}

{% block body %}
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="offset2 span8 well" id="conteneur">
			<div class="page-header"><h1>Nous Contacter</h1></div>
			<div class="row-fluid">
				<div class="span3">
					<h4>Par Courrier</h4>
					<hr>
					<address class="well well-small">
						<strong>Musée de Kourou</strong><br>
						Route de l'espace<br>
						97310 Kourou<br>
						Guyane française
					</address>
				</div>
			
				<div class="offset1 span3">
					<h4>Par Téléphone</h4>
					<hr>
					<h6>Téléphone : 05 94 33 53 84</h6>
				</div>
			</div>
			<div class="row-fluid">
				
			</div>
		</div>
	</div>
	</div>
{% endblock %}