{# src/Musee/SiteBundle/Resources/views/Site/register.html.twig #}

{% extends "MuseeSiteBundle::layout.html.twig" %}

{% block body %}

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset1 span8">
				<ul class="nav nav-tabs">
					<li>
					<a href="{{ path('musee_pageEnregistrementAdmin') }}">Enregistrer</a>
					</li>
					<li class="active"><a href="{{ path('musee_pageListeModifUserAdmin', {'page' : 1}) }}">Modifier</a></li>
					<li><a href="{{ path('musee_pageListeSupprUserAdmin', {'page' : 1}) }}">Supprimer</a></li>
				</ul>
				
				<div>
					{% render "MuseeSiteBundle:Site:liste" with { page: page, route: route } %} 
				</div>
				
				
			</div>
		</div>
	</div>

{% endblock %}