{# src/Musee/SiteBundle/Resources/views/Site/register.html.twig #}

{% extends "MuseeSiteBundle::layout.html.twig" %}

{% block body %}

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset1 span4">
				<ul class="nav nav-tabs">
					<li>
					<a href="{{ path('musee_pageEnregistrementAdmin') }}">Enregistrer</a>
					</li>
					<li class="active"><a href="{{ path('musee_pageListeModifUserAdmin') }}">Modifier</a></li>
					<li><a href="{{ path('musee_pageListeSupprUserAdmin') }}">Supprimer</a></li>
				</ul>
				
				<div>
					{% include "MuseeSiteBundle:Site:liste.html.twig" %} 
				</div>
				
			</div>
		</div>
	</div>

{% endblock %}