{# src/Musee/SiteBundle/Resources/views/Site/register.html.twig #}

{% extends "MuseeSiteBundle::layout.html.twig" %}

{% block body %}

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset1 span4">
				<ul class="nav nav-tabs">
					<li class="active">
					<a href="{{ path('musee_pageEnregistrementAdmin') }}">Enregistrer</a>
					</li>
					<li><a href="{{ path('musee_pageListeModifUserAdmin', {'page' : 1}) }}">Modifier</a></li>
					<li><a href="{{ path('musee_pageListeSupprUserAdmin', {'page' : 1}) }}">Supprimer</a></li>
				</ul>
				
				<h2>Créer un administrateur</h2>
				<h2>Créer un chercheur</h2>
				<h2>Créer un adhérent</h2>
				
			</div>
		</div>
	</div>

{% endblock %}